[submodule "desktop"]
	path = desktop
	url = https://github.com/aptitek/quarto-desktop.git
[submodule "template"]
	path = template
	url = https://github.com/aptitek/aptispace-template.git
[submodule "ia"]
	path = ia
	url = https://github.com/aptitek/aptispace-ia.git
[submodule "datascience"]
	path = datascience
	url = https://github.com/aptitek/aptispace-datascience.git
[submodule "deeplearning"]
	path = deeplearning
	url = https://github.com/aptitek/aptispace-deeplearning.git
